<div class="container-welcome">
    <h3 class="text">Bienvenido a tu
        <b>Entrevista Técnica</b> en
        <strong class="green">Wolox</strong>
    </h3>
    <img src="../../../assets/assets/Backgrounds/Bg_Header.png" class="img-welcome" />
    <div class="container-hero">
        <img src="../../../assets/assets/Img Hero/Ic_ilustra_Hero.png" class="img-hero" />
    </div>
</div>
<div class="woloxers">
    <div class="container">
        <h2 class="green"> 350 + <strong class="cian">Woloxers</strong> </h2>
        <h2 class="title-white">@Wolox</h2>
        <button class="btn-follow" onClick="window.open('https://twitter.com/wolox')">Siguenos</button>
    </div>
    <img src="../../../assets/assets/img_woloxer.png" class="img-woloxer" />
    <div class="text-woloxers"> 
        <h3 class="text">Trabajamos para
            <b class="cian">convertir</b>
            <b class="green"> ideas</b> en productos.
        </h3>
    </div>
</div>
<div class="text-benefit">
    Entre los beneficios que ofrecemos se encuentran <span class="cian">;)</span>
</div>
<div class="cards-list">
    <div class="card 1">
        <div class="card_image"> 
            <img src="../../../assets/assets/Ic_Hour.svg" />             
        </div>
        <div class="card_title title-black">
            <p>Flexibilidad Horaria</p>
        </div>
    </div>
    <div class="card 2">
        <div class="card_image">
            <img src="../../../assets/assets/Ic_HomeOffice.svg" />
        </div>
        <div class="card_title title-black">
            <p>Home Office</p>
        </div>
    </div>
    <div class="card 3">
        <div class="card_image">
            <img src="../../../assets/assets/Ic_Workshops.svg" />
        </div>
        <div class="card_title title-black">
            <p>Capacitaciones y Workshop</p>
        </div>
    </div>
    <div class="card 4">
        <div class="card_image">
            <img src="../../../assets/assets/Ic_DrinkSnacks.svg" />
        </div>
        <div class="card_title title-black">
            <p>Snacks, frutas y bebidas gratis</p>
        </div>
    </div>
    <div class="card 5 card-5">
        <div class="card_image">
            <img src="../../../assets/assets/Ic_laptop.svg" />
        </div>
        <div class="card_title title-black title-laptop">
            <p>Semana Remota</p>
        </div>
    </div>
    <div class="card 6">
        <div class="card_image">
            <img src="../../../assets/assets/Ic_brain.svg" />
        </div>
        <div class="card_title title-black">
            <p>Trabajar en últimas tecnologías</p>
        </div>
    </div>
</div>