* {
  font-family: "Fire_Sans", Arial, Helvetica, sans-serif;
}

.container-welcome {
    position: relative;
    max-height: 400px;
}

.text {
    color: #000000;
    font-weight: 400;
    font-size: 50px;
    width: 40%;
    margin-left: 40px;
    position: absolute;
}

.img-welcome {
    width: 100%;
    height: 300px;    
}

.container-hero {
    position: absolute; 
    top: 0; 
    left: 66%;
}

.img-hero {
    width: 100%;
    height: 300px; 
}

.woloxers {
    display: flex;   
    position: relative;
    background-color: #e8e8e8;
}

.img-woloxer{
    width: 50%;
}

.container {
    position: absolute;
    padding-left: 210px;
    padding-top: 65px;
    font-size: 25px;
    text-align: center;
}

.text-woloxers {
    text-align: center;
    padding: 3%;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border: solid 1px #2aa7df;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2aa7df;
  box-shadow: 0px 15px 20px rgb(54 92 179);
  color: #fff;
  transform: translateY(-7px);
}



.text-benefit {
    padding: 30px;
    font-size: 32px;
    text-align: center;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0, 0, 0.2);
  }
  
  .card {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 0.4s;
  }

  .card-5 {
    margin: 30px auto;
    width: 150px;
    height: 100px;
    cursor: pointer;
    transition: 0.4s;
  }

  .card-5 .title-laptop {
    padding-top: 50px;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .title-black {
    color: black;
  }

  
  @media (max-width:1024px) {
    .container {
      padding-left: 120px;
      padding-top: 30px;
    }

    .card .card_title {
      font-size: 15px;
    }
  }
  
  @media (max-width:900px) {
    .container {
      padding-left: 85px;
      padding-top: 0px;
    }

    .text {
      font-size: 35px;
      width: 40%;
      margin-left: 30px;
    }

    .card {
      width: 220px;
      height: 220px;
    }

    .card .card_title {
      font-size: 15px;
    }

    .card-5 .title-laptop {
      padding-top: 0px;
    }
  }
  
   @media (max-width:768px) {
    .container{
      position: absolute;
      padding-left: 84px;
      padding-top: 15px;
      font-size: 14px;
      text-align: center;
    }

    .text {
      color: #000000;
      font-weight: 400;
      font-size: 30px;
      width: 40%;
      margin-left: 25px;
      position: absolute;
    }

    .img-hero {
      width: 100%;
      height: 200px;
    }

    .card-list {
      flex-direction: column;
    }

    .card {
      width: 190px;
      height: 190px;
    }

    .card-5 .title-laptop {
      padding-top: 0px;
    }

   }
  
   @media (max-width:670px) {
      .container {
        padding-left: 10px;
        padding-top: 0px;
      }

      .text {
        font-size: 25px;
        width: 40%;
        margin-left: 30px;
      }

      .card-5 .title-laptop {
        padding-top: 0px;
      }
   }

   @media (max-width:425px) {

    .img-welcome {
      height: 105px;
    }

    .img-hero {
      height: 105px;
    }

    .text {
      font-size: 18px;
      margin-left: 0px;
    }

    .container {
      padding-top: 20px;
      padding-left: 100px;
      font-size: 20px;
    }

    .btn-follow {
      height: 25px;
      width: 75px;
      font-size: 10px;
    }

    .text-benefit {
      padding: 10px;
      font-size: 15px;
    }

    .img-woloxer {
      width: 100%;
    }

    .text-woloxers {
      display: none;
    }

    .card {
      margin: 30px auto;
      width: 155px;
      height: 155px;
    }

    .card .card_title {
      font-size: 15px;
    }

    .card-5 .title-laptop {
      padding-top: 0px;
    }
  }
  
  @media (max-width:375px) {
    .container {
      padding-top: 6px;
      padding-left: 80px;
      font-size: 19px;
    }
  }