<div class="container-welcome">
    <h3 class="text">Bienvenido a tu
        <b>Entrevista Técnica</b> en
        <strong class="green">Wolox</strong>
    </h3>
    <img src="../../../assets/assets/Backgrounds/Bg_Header.png" class="img-welcome" />
    <div class="container-hero">
        <img src="../../../assets/assets/Img Hero/Ic_ilustra_Hero.png" class="img-hero" />
    </div>
</div>
<div class="woloxers">
    <div class="grid-container">
        <div class="grid-item">
            <div class="container">
                <h2 class="green"> 350 + <strong class="cian">Woloxers</strong> </h2>
                <button class="btn-follow" onClick="window.open('https://twitter.com/wolox')">Siguenos</button>
            </div>
            <img src="../../../assets/assets/img_woloxer.png" class="img-woloxer" />
        </div>
        <div class="grid-item grid-text">
            <h3 class="text text-woloxers">Trabajamos para
                <b class="cian">convertir</b>
                <b class="green"> ideas</b> en productos.
            </h3>
        </div>
    </div>
</div>
<section class="text-benefit">
    Entre los beneficios que ofrecemos se encuentran <span class="cian">;)</span>
</section>
<section class="container-card">
    <div class="card">
        <img src="../../../assets/assets/Ic_Hour.svg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Flexibilidad Horaria</h5>
        </div>
    </div> 
    <div class="card">
        <img src="../../../assets/assets/Ic_HomeOffice.svg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Home Office</h5>
        </div>
    </div> 
    <div class="card">
        <img src="../../../assets/assets/Ic_Workshops.svg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Capacitaciones y Workshop</h5>
        </div>
    </div> 
    <div class="card">
        <img src="../../../assets/assets/Ic_DrinkSnacks.svg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Snacks, frutas y bebidas gratis</h5>
        </div>
    </div> 
    <div class="card">
        <img src="../../../assets/assets/Ic_laptop.svg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Semana Remota</h5>
        </div>
    </div> 
    <div class="card">
        <img src="../../../assets/assets/Ic_brain.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Trabajar en últimas tecnologías</h5>
        </div>
    </div> 
</section>