* {
    transition: .4s;
    box-sizing: border-box;
    font-family: 'arial';
  }
  
  ::selection {
    background: rgba(219, 68, 55, .3);
  }
  
  body{
    background: rgba(0, 0, 0, .8);
  }
  
  .login {
    width: 50%;
    margin: auto;
    text-align: center;
    background: #FFF;
    padding-top: 30px;
    border-radius: 10px;
  }
  
  .login .title_login {
    color: #444;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0px 0 30px 0;
    border-bottom: 1px solid #CCC;
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
  }
  
  .login .input_textual {
    display: block;
    padding: 15px 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  .login .input_textual {
    color: #444;
    font-size: 1.1em;
  }
  .login .input_textual:focus {
    outline: none;
    border: none;
    border-left: 13px solid #2AA7DF;
    box-shadow: 1px 5px 10px #CCC;
  }
  .login .input_textual:focus {
    opacity: 1;
    left: 30px;
    transition: all 0.25s ease-out;
  }
  
  .login a {
    font-size: 0.9em;
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #2AA7DF;
    padding-bottom: 5px;
  }
  
  .login a:hover {
    color: #2AA7DF;
    border-color: #FFF;
  }
  
  .login .input_boton {
    margin-top: 55px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 0;
    outline: none;
    width: 100%;
    position: relative;
    background: rgb(0 195 255);
    color: #FFF;
    bottom: -3px;
    left: 0px;
    font-size: 1.4em;
    cursor: pointer;
  }
  
  .login .input_boton:hover {
    background: rgba(43, 137, 190, 0.8);
  }
  
  .login .input_boton .fa {
    font-size: 1.4em;
  }