<div  class="login">  
    <p class="title_login">Iniciar Sesión</p>    
    <input type="text"  placeholder="Nombre" class="input_textual"/>    
    <input type="text" placeholder="Apellido" class="input_textual"/>  
    <input type="text"  placeholder="Pais" class="input_textual"/>    
    <input type="text" placeholder="Provincia" class="input_textual"/>  
    <input type="email"  placeholder="Correo" class="input_textual"/>  
    <input type="number"  placeholder="Telefono" class="input_textual"/>    
    <input type="password" placeholder="Contraseña" class="input_textual"/>    
    <a href="#">¿olvidaste tu contraseña?</a>    
    <button class="input_boton"> Ingresar </button>    
</div>