table {
    width: 100%;
}

.mat-header-cell {
    color: white;
    font-weight: bold;
}

tr.mat-header-row {
    background-color: #00C3FF;
    height: 46px;
}

tr.mat-row:hover {
    background-color: #edefef;
}

.actions {
    font-size: large;
    padding-right: 10%;
    cursor: pointer;
}

.label-search {
  display: none;
}


.label-title {
    font-size: large;
    padding-left: 5px;
    width: 100%;
    text-align: center;
    background-color: #459695;
    height: 40px;
    padding-top: 7px;
    margin-bottom: 1px;
    color: white;
}

.mat-form-field {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    position: relative;
    text-align: left;
}

.img-logo {
  width: 50px;
}

.login .input_textual {
  padding: 15px 10px;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.login .input_textual {
  color: #444;
  font-size: 1.1em;
}
.login .input_textual:focus {
  outline: none;
  border: none;
  border-left: 13px solid #2AA7DF;
  box-shadow: 1px 5px 10px #CCC;
}
.login .input_textual:focus {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}