* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
body {
    font-family: sans-serif;
}

nav {
    padding: 5px 20px;
}

.img-logo {
    width: 100px;
}
    
ul {
    list-style-type: none;
}
    
a {
    color: rgb(2, 2, 2);
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}
.menu li {
    font-size: 15px;
    padding: 15px 5px;
    white-space: nowrap;
}
    
.logo a, .toggle a {
    font-size: 20px;
}

.btn {
    border-radius: 60px;
    color: #00C3FF;
    width: 120px;
    font-size: 13px;
    padding: 8px;
    background-color: #FFFFFF;
    border: solid #00C3FF 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .btn:hover {    
    background-color: #00C3FF;
    color: #FFFFFF;
    border: solid #00C3FF 1px;
    cursor: pointer;
 }
    
.button.secondary { 
    border-bottom: 1px 
    #444 solid; 
}
    
@media all and (min-width: 900px) {
    .item { 
        display: block; 
        width: auto; 
    } 
    .toggle { 
        display: none;
     } 
    .logo { 
        order: 0;
     } 
    .item { 
        order: 1;
    } 
    .button {
        order: 2; 
    } 
    .menu li { 
        padding: 15px 20px;
    } 
    .menu li.button { 
        padding-right: 0;
    } 
}

@media all and (min-width: 300px) { 
    .menu { 
        justify-content: center; 
    }
    .logo { 
        flex: 1; 
    }
    .toggle {
        flex: 1; 
        text-align: right;
    } 
    .item.button {
        width: auto;
        order: 1; 
        display: block;
    } 
    .toggle { 
        order: 2;
    }
    .button.secondary { 
        border: 0;
    } 

    .button.secondary a { 
        background: transparent;
    }
    .button a:hover { 
        text-decoration: none; 
    }
    .button:not(.secondary)a:hover { 
        background: #006d6d; 
        border-color: #005959;
    }
    .button.secondary a:hover { 
        color: #ddd;
    } 
    .img-logo {
        width: 100px;
    }
}
    

.menu { 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
} 
.toggle  { 
    order: 1;
} 
.item.button { 
    order: 2;
} 
.item { 
    width: 100%; 
    text-align: center; 
    order: 3; 
    display: none; 
}    
.item.active { display: block; }