/*footer {
    background-color: #343A40;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 15px    
}*/

.footer{
    background: url("../../../../assets/assets/Backgrounds/Bg_Footer.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 300px;
}

.text-title{
    color: #0c0c0c;
    font-weight: 600;
    text-align: center;
}

.btn {
    border-radius: 60px;
    background-color: #00C3FF;
    color: #FFFFFF;
    width: 190px;
    font-size: 17px;
    padding: 10px;
    border: solid #00C3FF 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    color: #00C3FF;
    background-color: #FFFFFF;
    border: solid #00C3FF 1px;
}

.btn-center {
    margin-left: 47%;
}

.brand {
    color: #00C3FF;
}

